extends layout
block content
	div#page
		include header

		div#content-wrap
			div#main
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut dui urna. Duis viverra lacus ornare massa mollis id cursus erat egestas. Pellentesque pulvinar turpis sit amet dolor congue sed dapibus metus semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum a sapien enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus aliquet nunc vel diam sodales placerat. Praesent purus velit, faucibus vitae scelerisque quis, blandit in mi. Quisque aliquam euismod justo ac pretium. Ut lacus lorem, euismod non luctus sit amet, scelerisque a metus. Donec pellentesque, leo quis aliquet elementum, tortor velit vehicula nunc, at blandit nunc eros auctor tortor. Nulla augue tellus, ultrices ac bibendum a, gravida eget turpis.
				p Integer nec dui nec purus lacinia tincidunt. Nullam magna odio, malesuada vel tristique non, ullamcorper in nisi. Nullam risus lorem, dapibus in cursus id, laoreet a tortor. Nam at eros nec ligula viverra interdum at vitae nunc. Etiam mattis lacinia elit, ut pharetra lacus sagittis at. Morbi lobortis dignissim arcu quis aliquam. Cras hendrerit felis nec odio vehicula facilisis. In elementum, augue vel pharetra rutrum, elit orci commodo dui, quis sollicitudin justo purus quis arcu. Maecenas ac nibh risus, ut sodales leo. Ut sed tristique dolor. Donec sodales nisl eu mauris mollis ut vehicula tortor feugiat. Morbi tincidunt commodo massa vel luctus. Nunc convallis nunc nec massa iaculis rutrum.
				p Pellentesque in urna dolor. Maecenas quis turpis et sem elementum sodales. Suspendisse potenti. Donec sollicitudin bibendum fermentum. In hac habitasse platea dictumst. Vestibulum feugiat fermentum nisi tristique fringilla. Donec a tellus vel dolor posuere rutrum ut quis leo. Etiam eget lectus ac justo lobortis hendrerit et a metus. In hac habitasse platea dictumst. Vivamus ullamcorper, massa nec sollicitudin consequat, urna mauris vestibulum quam, ut blandit justo mi a odio. Sed neque nibh, condimentum quis blandit ut, suscipit quis elit. Curabitur nec augue justo, non molestie elit. Donec vel ipsum augue. Praesent sem justo, fermentum in lacinia vel, dignissim ut nibh. Sed nibh nisi, rhoncus at convallis id, aliquet sed nulla. Aenean vulputate nibh sit amet massa suscipit et gravida ligula sollicitudin.

			div#sidebar
		include footer