extends layout
block content
	div#page
		include header

		div#content-wrap
			div#main
				div
					h1 Francisco Aviles
					img(src="multimedia/images/apolo.png")
				div
					h1 Carlos Martinez
					img(src="multimedia/images/carl.png")


			div#sidebar
		include footer