extends layout
block content
	div#page
		include header

		div#content-wrap
			div#main
				img(src="multimedia/images/WebSItes.png")
				img(src="multimedia/images/HotSpots.png")
			div#sidebar
		include footer